{% set pageNumber = { depth1: 1, depth2: 1, depth3: 4 } %}
{% set pageData = {
	title: "참조 사이트",
	description: "참조 사이트 입니다.",
	keyword: "",
	last_update: "2020-02-21"
} %}
{% set pageLayout = {
	mainClass: "html_bookmark",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}