{% set pageNumber = { depth1: 1, depth2: 1, depth3: 3, depth4: 3, part:1 } %}
{% set pageData = {
	title: "input element part-1",
	description: "input element part-1 입니다.",
	keyword: "",
	last_update: "2019-12-26"
} %}
{% set pageLayout = {
	mainClass: "input_element",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
{%- endblock %}