{% set pageNumber = { depth1: 1, depth2: 1, depth3: 9, depth4: 10 } %}
{% set pageData = {
	title: "output element",
	description: "output element 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "output_element",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}