{% set pageNumber = { depth1: 1, depth2: 1, depth3: 1, depth4: 3 } %}
{% set pageData = {
	title: "HTML 요소",
	description: "HTML 요소 입니다.",
	keyword: "",
	last_update: "2019-12-26"
} %}
{% set pageLayout = {
	mainClass: "html_element",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}