{#- basic setting ----------------------------------------------------------------------------------------------------#}
{%- set html_class = 'main_page' if pageData.mainPage else 'sub_page' %}
{%- import path.macro + "/_macro.njk" as comp %}
{%- import path.macro + "/_gnb.njk" as gnb_comp -%}

{#- page number setting ----------------------------------------------------------------------------------------------#}
{%- set d1 = pageNumber.depth1-1 if pageNumber.depth1 -%}
{%- set d2 = pageNumber.depth2-1 if pageNumber.depth2 -%}
{%- set d3 = pageNumber.depth3-1 if pageNumber.depth3 -%}
{%- set d4 = pageNumber.depth4-1 if pageNumber.depth4 -%}
{%- set part = pageNumber.part-1 if pageNumber.part -%}

{%- set d1_path = gnb_data[d1]         if pageNumber.depth1 -%}
{%- set d2_path = d1_path.depth2[d2]   if pageNumber.depth2 -%}
{%- set d3_path = d2_path.depth3[d3]   if pageNumber.depth3 -%}
{%- set d4_path = d3_path.depth4[d4]   if pageNumber.depth4 -%}
{%- set part_path = d4_path.part[part] if pageNumber.part -%}

{#- title setting ----------------------------------------------------------------------------------------------------#}
{%- set title_d1 = d1_path.d1_name if pageNumber.depth1 -%}
{%- set title_d2 = d2_path.d2_name if pageNumber.depth2 -%}
{%- set title_d3 = d3_path.d3_name if pageNumber.depth3 -%}
{%- set title_d4 -%}
	{{- d4_path.d4_name if pageNumber.depth4 }}
	{%- if pageNumber.part %} <span class="t_blue">{{ part_path.part_name }}</span> {%- endif %}
{%- endset -%}
{%- set title_d4_txt -%}
	{{- d4_path.d4_name if pageNumber.depth4 }}
	{%- if pageNumber.part %} {{ part_path.part_name }} {%- endif %}
{%- endset -%}

{#- path setting -----------------------------------------------------------------------------------------------------#}
{%- set pageNum_leng = pageNumber | length -%}

{#- reference path -#}
{%- set reference_path %}
	{%- for i in range(0, 3) %}
		{{- gnb_data[d1].d1_link | replace("/", "")    if i === 0 }}
		{{- gnb_data[d1].depth2[d2].d2_link            if i === 1 }}
		{{- gnb_data[d1].depth2[d2].depth3[d3].d3_link if i === 2 }}
	{%- endfor %}
{%- endset -%}

{#- info path -#}
{%- set info_path %}
	{{- gnb_data[d1].d1_link | replace("/", "") }}
	{{- gnb_data[d1].depth2[d2].d2_link }}
{%- endset -%}

{#- layout type ------------------------------------------------------------------------------------------------------#}
{%- set layout_pub   = pageLayout.type === "publishing" -%}
{%- set layout_build = pageLayout.type === "build_system" -%}

{#- end setting ------------------------------------------------------------------------------------------------------#}


<!DOCTYPE html>
<html lang="ko" class="{{ html_class }} ">
{% include( path.include + "/_head.njk" ) %}
<body class="{{ pageLayout.mainClass }}">
<div class="uk_wrap" {%- if pageData.mainPage !== true %} data-active="{{ d1 }}/{{ d2 }}" {%- endif %}>
	{%- macro include(fileName) -%}
	{%- include fileName ignore missing -%}
	{%- endmacro %}

	<nav class="uk_skip">
		<a href="{{ '#content' if pageData.mainPage else '#content_title' }}">본문내용으로 건너띄기</a>
	</nav>
	<!-- //uk_skip -->

	{{ include( path.include + "/_header.njk" ) | tabIndent(1) }}
	<!-- // uk_header -->
	{# content start ------------------------------------------------------------------------------------------------- -#}
	{%- if pageData.mainPage === true %}
	<main id="content" class="uk_container main_content_area">
		{% filter tabIndent(1) %}
		{% block mainContent %}
		{% endblock %}
		{%- endfilter %}
	</main>
	{#- // main content area ------------------------------------------------------------------------------------------ #}
	{%- else %}
	<div class="uk_container sub_content_area">
		<nav class="top_link inner">
			{%- if layout_pub %}
			{{ gnb_comp.d2_gnb(
				gnb_data,
				pageNumber,
				d1_index = d1+1,
				only_depth2 = true
			) | tabIndent(3)}}
			{%- elif layout_build %}
			{{ gnb_comp.d3_below(
				gnb_data,
				pageNumber,
				start_depth3 = true,
				only_depth3 = true
			) | tabIndent(3)}}
			{%- endif %}
		</nav>
		<!-- // {{ title_d1 }} 주 탐색창 -->

		<div class="sub_top">
			<strong class="tit"><i data-number="{{ d3 + 1 + '. '}}">{{ title_d3 }}</i></strong>

			{%- if layout_pub %}
			{# ----------space--------- #}
			<blockquote class="inner note_none" cite="https://uxkm.io">
				<strong class="sound_only">{{ title_d1 }} 및 {{ title_d2 }} 요약설명</strong>
				{%- if pageLayout.Info %}
				{{ include( path.include + "/_common_info.njk" ) | tabIndent(4) }}
				{%- endif %}
				{%- if pageLayout.note === false %}
				{{ include( info_path + "/_info.njk" ) | tabIndent(4) }}
				{%- endif %}
			</blockquote>
			<!-- // {{ title_d1 }} 및 {{ title_d2 }} 요약설명 -->

			{%- if pageLayout.note %}
			{# ----------space--------- #}
			{{ include( reference_path + "/_note.njk" ) | tabIndent(3) }}
			{%- endif %}
			{%- endif %}
			{#- Publishing sub top content end #}

			{%- if layout_build and pageLayout.Info %}
			{# ----------space--------- #}
			{{ include( reference_path + "/_info.njk" ) | tabIndent(3) }}
			{%- endif %}
			{#- build system sub top content end #}
		</div>
		<!-- // sub top content (.sub_top) -->

		<div class="sub_content inner {%- if pageNumber.depth4 === undefined %} depth3_last {%- endif %}">
			<main id="content" class="content_area">
				<header>
					{%- if pageNumber.depth4 %}
					<h1 id="content_title" {%- if d4_path.html5 %} class="html5" {%- endif %} data-number="{{ d3 + 1 + '.'}}{{ d4 + 1 + '. ' }}">{{ title_d4 }} <em class="sound_only">- by. UXKM</em></h1>
					{%- else %}
					<h1 data-number="{{ d3 + 1 + '. '}}">{{ title_d3 }} <em class="sound_only">- by. UXKM</em></h1>
					{%- endif %}
					<time class="last_update" datetime="{{ pageData.last_update }}">{{ pageData.last_update }}</time>
				</header>

				{% filter tabIndent(3) %}
					{% block content %}
					<div class="ready_content"><i class="fas fa-tools"></i><p>Coming soon</p></div>
					{%- endblock %}
				{%- endfilter %}

				{%- if pageLayout.reference %}
				{# ----------space--------- #}
				{{ include( reference_path + "/_reference.njk" ) | tabIndent(4) }}
				{%- endif %}
			</main>
			<!-- // {{ title_d4_txt }} content (.content_area) -->

			{% if pageLayout.sideMenu -%}
			<aside class="side_menu_area">
				<strong class="tit"><b>{{ title_d2 }}</b> <i>Table of Contents</i></strong>
				<nav class="side_menu {%- if layout_pub %} pub_side_nemu {%- elif layout_build %} pub_side_nemu {%- endif %}">
					{{ gnb_comp.d3_below(
						gnb_data,
						pageNumber,
						start_depth3 = true
					) | tabIndent(5)}}
				</nav>
			</aside>
			<!-- // {{ title_d2 }} side menu -->
			{%- endif %}
		</div>
		<!-- // sub main content (.sub_content) -->
	</div>
	{#- // sub content area ------------------------------------------------------------------------------------------- #}
	{%- endif %}
	<!-- // uk_container -->

	{{ include( path.include + "/_footer.njk" ) | tabIndent(1) }}
	<!-- // uk_footer -->
</div>
<!-- // wrap -->

{%- block modal %}
{%- endblock %}

<!-- script - lib -->
<script type="text/javascript" src="{{ path.lib }}/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{{ path.lib }}/ukDetect-1.0.0.js"></script>
<script type="text/javascript" src="{{ path.lib }}/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ path.lib }}/iscroll.js"></script>
<script type="text/javascript" src="{{ path.lib }}/highlight.min.js"></script>
<!-- script - codemirror -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/lib/codemirror.js"></script><!-- 기본 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/addon/selection/active-line.js"></script><!-- 줄 강조 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/css/css.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/sass/sass.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/htmlmixed/htmlmixed.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/htmlembedded/htmlembedded.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/javascript/javascript.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/php/php.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/mode/xml/xml.js"></script><!-- 모드 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/addon/scroll/simplescrollbars.js"></script><!-- 스크롤바 -->
<script type="text/javascript" src="{{ path.lib }}/codemirror/uk_editor.js"></script>
<!-- script - ui -->
<script type="text/javascript" src="{{ path.js }}/uk_common.js"></script>
{%- set js_div = 'uk_main' if pageData.mainPage === true else 'uk_sub' %}
<script type="text/javascript" src="{{ path.js }}/{{ js_div }}.js"></script>
{%- block script %}
{%- endblock %}
</body>
</html>