{% set pageNumber = { depth1: 3, depth2: 1 } %}
{% set pageData = {
	updatePage: true,
	title: "업데이트 예정 컨텐츠",
	description: "UXKM의 업데이트 예정인 커리큘럼을 소개합니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "uxkm_updates",
	type: "publishing",
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block updateContent %}
	<header>
		<h1 id="content_title" data-number="3.">UXKM의 업데이트 예정 콘텐츠 <em class="sound_only">- by. UXKM</em></h1>
		{#-<time class="last_update" datetime="{{ pageData.last_update }}">{{ pageData.last_update }}</time>#}
	</header>

	<div>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
		<p>업데이트 예정 컨텐츠</p>
	</div>
{%- endblock %}