{% set pageNumber = { depth1: 1, depth2: 1, depth3: 3, depth4: 1 } %}
{% set pageData = {
	title: "header element",
	description: "header element 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "header_element",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}