{% set pageNumber = { depth1: 1, depth2: 3, depth3: 8, depth4: 1 } %}
{% set pageData = {
	title: "문법 준수",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 견고성(Robust) 중 문법 준수 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 견고성, 문법 준수",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "wa_markup",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 8.1.1. 마크업 오류 방지 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">8.1.1. 마크업 오류 방지</h2>
		<h3 class="mt_ms t_blue">
			마크업 언어의 요소는 열고 닫음, 중첩 관계 및 속성 선언에 오류가 없어야 합니다.
		</h3>
		<p class="mt_s">
			마크업 언어의 요소는 열고 닫음, 중첩 관계 및 속성 선언에 오류가 없어야 합니다.
			시작 요소와 끝나는 요소가 잘 대응되고 요소 간의 포함 관계가 어긋나지 않도록 웹 페이지의 마크업 문서를 구성하면,
			웹 브라우저나 보조 기술이 작동을 멈추지 않고 콘텐츠를 명확히 전달할 수 있습니다.
		</p>
	</section>
{%- endblock %}
