{% set pageNumber = { depth1: 1, depth2: 3, depth3: 8, depth4: 2 } %}
{% set pageData = {
	title: "웹 애플리케이션 접근성",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 견고성(Robust) 중 웹 애플리케이션 접근성 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 견고성, 웹 애플리케이션",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "waa",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 8.2.1. 웹 애플리케이션 접근성 준수 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">8.2.1. 웹 애플리케이션 접근성 준수</h2>
		<h3 class="mt_ms t_blue">
			콘텐츠에 포함된 웹 애플리케이션은 접근성이 있어야 합니다.
		</h3>
		<p class="mt_s">
			웹 콘텐츠를 사용하는 데 필요한 플러그인 또는 웹 페이지의 기능을 실행하는 데 필요한 웹 애플리케이션은 사용자가 웹
			페이지에 접근하여 사용하는 것을 방해하지 않아야 합니다.<br>
			국내의 보조 기술로 접근이 불가능한 웹 애플리케이션은 가능한 한 사용하지 않는 것이 좋으며,
			꼭 사용해야 하는 경우에는 해당 웹 애플리케이션에 대한 대체 수단을 제공해야 합니다.
		</p>
	</section>
{%- endblock %}
