<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<div>
		<p>
			견고성은
			<b>문법 준수</b>, <b>웹 애플리케이션 접근성</b> 등 2 가지 지침으로 구성, 2개의 검사 항목이 있습니다.
		</p>
	</div>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->