{% set pageNumber = { depth1: 1, depth2: 3, depth3: 5, depth4: 1 } %}
{% set pageData = {
	title: "대체 텍스트",
	description: "대체 텍스트 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "wa_text",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
