<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<div>
		<p>
			인식의 용이성은 사용자가 장애 유무 등에 관계없이 웹 사이트에서 제공하는 모든 콘텐츠를
			동등하게 인식할 수 있도록 제공하는 것을 의미하며,<br>
			<b>대체 텍스트</b>, <b>멀티미디어 대체 수단</b>, <b>명료성</b> 등 3 가지 지침으로 구성, 7개의 검사 항목이 있습니다.
		</p>
	</div>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->