{% set pageNumber = { depth1: 1, depth2: 2, depth3: 1, depth4: 2 } %}
{% set pageData = {
	title: "CSS를 사용하는 이유",
	description: "CSS를 사용하는 이유 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_reason",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
