{% set pageNumber = { depth1: 1, depth2: 2, depth3: 1, depth4: 6 } %}
{% set pageData = {
	title: "CSS 선언방식",
	description: "CSS 선언방식 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_apply",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
