{% set pageNumber = { depth1: 1, depth2: 2, depth3: 1, depth4: 7 } %}
{% set pageData = {
	title: "CSS 상속과 캐스케이딩",
	description: "CSS 상속과 캐스케이딩 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_cascading",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}