{% set pageNumber = { depth1: 2, depth2: 1, depth3: 4 } %}
{% set pageData = {
	title: "0000000",
	description: "0000000 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "00000000",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}
