{% set pageNumber = { depth1: 1, depth2: 3, depth3: 7, depth4: 1 } %}
{% set pageData = {
	title: "가독성",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 이해의 용이성(Understandable) 중 가독성 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 이해의 용이성, 가독성",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "readable",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 7.1.1. 기본 언어 표시 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">7.1.1. 기본 언어 표시</h2>
		<h3 class="mt_ms t_blue">
			주로 사용하는 언어를 명시해야 합니다.
		</h3>
		<p class="mt_s">
			다국어를 지원하는 화면 낭독 프로그램을 사용하는 경우,
			텍스트 콘텐츠의 언어 정보를 화면 낭독 프로그램으로 전달하기 때문에 콘텐츠에 적용되는 기본 언어를 반드시 명시해야 합니다.
		</p>
	</section>
{%- endblock %}
