{% set pageNumber = { depth1: 1, depth2: 3, depth3: 7, depth4: 3 } %}
{% set pageData = {
	title: "콘텐츠의 논리성",
	description: "콘텐츠의 논리성 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "logical_order",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
