{% set pageNumber = { depth1: 1, depth2: 3, depth3: 7, depth4: 4 } %}
{% set pageData = {
	title: "입력 도움",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 이해의 용이성(Understandable) 중 입력 도움 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 이해의 용이성, 입력 도움",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "input_assistance",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 7.4.1. 레이블 제공 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">7.4.1. 레이블 제공</h2>
		<h3 class="mt_ms t_blue">
			사용자 입력에는 대응하는 레이블을 제공해야 합니다.
		</h3>
		<p class="mt_s">
			사용자 입력 근처에 사용법을 알려주는 레이블을 제공해야 합니다.
			레이블과 사용자 입력 간의 관계를 보조 기술이 인식할 수 있도록 대응시키면 화면 낭독 프로그램을 사용하는 시각
			장애인에게 해당 컨트롤이 어떤 용도로 사용되는지를 알려줄 수 있으나 단순히 텍스트로만 제공할 경우 잘못된 데이터의 입력을 유발할 수 있습니다.
		</p>
	</section>

	<!-- 7.4.2. 오류 정정 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">7.4.2. 오류 정정</h2>
		<h3 class="mt_ms t_blue">
			입력 오류를 정정할 수 있는 방법을 제공해야 합니다.
		</h3>
		<p class="mt_s">
			입력 서식 작성 시, 사용자의 실수로 오류가 발생할 경우 이를 정정할 수 있는 방법을 제공해야 합니다.
			또 온라인 서식에서 오류가 발생하는 경우, 사용자에게 오류 가 발생한 위치와 오류를 유발하게 된 이유 등에 관한 정보를 알려 주어야 합니다.
		</p>
	</section>
{%- endblock %}
