<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<div>
		<p>
			이해의 용이성은
			<b>가독성</b>, <b>예측 가능성</b>, <b>콘텐츠의 논리성</b>, <b>입력 도움</b> 등 4 가지 지침으로 구성, 6개의 검사 항목이 있습니다.
		</p>
	</div>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->