@charset "utf-8";

// bg url
$bg-url: '../images';
$bg-icon: $bg-url + '/icon';

// media size
$screen-xxxxs: 320px;
$screen-xxxs: 340px;
$screen-xxs: 360px;
$screen-xs: 540px;
$screen-sm: 620px;
$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 993px;
$screen-lg-min: 1200px;
$screen-lg-max: 1201px;
$screen-max-max: 1301px;

// layout size
$hdHeight: 110px;
$hdHeightMb: 60px;
$pc_padding: 50px;
$conWidth: 1580px + ($pc_padding * 2);
$mb_footer_height: 171px;	//모바일버전의 푸터 height가 늘어날 경우 반드시 수정
