{% set pageNumber = { depth1: 1, depth2: 2, depth3: 5 } %}
{% set pageData = {
	title: "참조 사이트",
	description: "참조 사이트 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css bookmark",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
