<!--
{%- macro all_gnb(
	gnb_data,
	pageNumber,
	only_depth1=false
) %}
<ul class="depth1">
	{%- for gnb in gnb_data %}
	{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
	{#- 1뎁스 link &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d1_link %} {{- gnb.d1_link }}{{ gnb.depth2[0].d2_link }}{{ gnb.depth2[0].depth3[0].d3_link }}{{ gnb.depth2[0].depth3[0].depth4[0].d4_link }} {%- endset %}
	{#- 1뎁스 loop index &ndash;&gt; #} {%- set d1_loop = loop.index %}
	{#- 1뎁스 active &#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d1_active = d1_loop === idx.d1 %}
	<li class="{%- if d1_active -%} active {%- endif %}">
		<a href="{{ d1_link }}">{{ gnb.d1_name }}</a>
		{%- if gnb.depth2 and only_depth1 === false %}
		<ul class="depth2">
			{%- for dep2 in gnb.depth2 %}
			{#- 2뎁스 link &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d2_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep2.depth3[0].d3_link }}{{ dep2.depth3[0].depth4[0].d4_link }} {%- endset %}
			{#- 2뎁스 loop index &ndash;&gt; #} {%- set d2_loop = loop.index %}
			{#- 2뎁스 active &#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d2_active = d1_active and d2_loop === idx.d2 %}
			<li class="{%- if d2_active -%} active {%- endif %}">
				<a href="{{ d2_link }}">{{ dep2.d2_name }}</a>
				{%- if dep2.depth3 %}
				<ul class="depth3">
					{%- for dep3 in dep2.depth3 %}
					{#- 3뎁스 link &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d3_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep3.depth4[0].d4_link }} {%- endset %}
					{#- 3뎁스 loop index &ndash;&gt; #} {%- set d3_loop = loop.index %}
					{#- 3뎁스 active &#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d3_active = d2_active and d3_loop === idx.d3 %}
					<li class="{%- if d3_active -%} active {%- endif %}">
						<a href="{{ d3_link }}">{{ dep3.d3_name }}</a>
						{%- if dep3.depth4 %}
						<ul class="depth4">
							{%- for dep4 in dep3.depth4 %}
							{#- 4뎁스 link &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
							{#- 4뎁스 loop index &ndash;&gt; #} {%- set d4_loop = loop.index %}
							{#- 4뎁스 active &#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set d4_active = d3_active and d4_loop === idx.d4 %}
							<li class="{%- if d4_active -%} active {%- endif %} {%- if dep4.part %} part_visible {%- endif %}">
								{%- if dep4.part %}
								{%- for part in dep4.part %}
								{#- part link &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
								{#- part loop index &ndash;&gt; #} {%- set part_loop = loop.index %}
								{#- part active &#45;&#45;&#45;&#45;&ndash;&gt; #} {%- set part_active = d4_active and part_loop === idx.part %}
								<p class="{%- if part_active -%} active {%- endif %}">
									<a href="{{ part_link }}">{{ dep4.d4_name }} <em>{{ part.part_name }}</em></a>
								</p>
								{%- endfor %}
								{%- else %}
								<a href="{{ d4_link }}">{{ dep4.d4_name }}</a>
								{%- endif %}
							</li>
							{%- endfor %}
						</ul>
						{%- endif %}
					</li>
					{%- endfor %}
				</ul>
				{%- endif %}
			</li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</li>
	{%- endfor %}
</ul>
{%- endmacro %}
-->

{# 전체 메뉴 #}
{%- macro all_gnb(
	gnb_data,
	pageNumber,
	only_depth1 = false,
	home=false
) %}
<ul class="depth1">
	{%- if home %}
	<li>
		<a href="/">Home</a>
	</li>
	{%- endif %}
	{%- for gnb in gnb_data %}
	{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
	{#- 1뎁스 link --------> #} {%- set d1_link %} {{- gnb.d1_link }}{{ gnb.depth2[0].d2_link }}{{ gnb.depth2[0].depth3[0].d3_link }}{{ gnb.depth2[0].depth3[0].depth4[0].d4_link }} {%- endset %}
	{#- 1뎁스 loop index --> #} {%- set d1_loop = loop.index %}
	{#- 1뎁스 active ------> #} {%- set d1_active = d1_loop === idx.d1 %}
	<li {%- if d1_active %} class="active" {%- endif %}>
		<a href="{{ d1_link }}">{{ gnb.d1_name }}</a>
		{%- if gnb.depth2 and only_depth1 === false %}
		<ul class="depth2">
			{%- for dep2 in gnb.depth2 %}
			{#- 2뎁스 link --------> #} {%- set d2_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep2.depth3[0].d3_link }}{{ dep2.depth3[0].depth4[0].d4_link }} {%- endset %}
			{#- 2뎁스 loop index --> #} {%- set d2_loop = loop.index %}
			{#- 2뎁스 active ------> #} {%- set d2_active = d1_active and d2_loop === idx.d2 %}
			<li {%- if d2_active %} class="active" {%- endif %}>
				<a href="{{ d2_link }}" data-depth1="{{ gnb.d1_name }}"><i>{{ dep2.d2_name }}</i></a>
				{%- if dep2.depth3 %}
				<div class="depth3_wrap">
					<ul class="depth3">
						{%- for dep3 in dep2.depth3 %}
						{#- 3뎁스 link --------> #} {%- set d3_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep3.depth4[0].d4_link }} {%- endset %}
						{#- 3뎁스 loop index --> #} {%- set d3_loop = loop.index %}
						{#- 3뎁스 active ------> #} {%- set d3_active = d2_active and d3_loop === idx.d3 %}
						<li class="item {%- if d3_active %} active {%- endif %}">
							<a href="{{ d3_link }}" {%- if dep4.html5 %} class="html5" {%- endif %}>{{ dep3.d3_name }}</a>
							{%- if dep3.depth4 %}
							<ul class="depth4">
								{%- for dep4 in dep3.depth4 %}
								{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
								{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
								{#- 4뎁스 active ------> #} {%- set d4_active = d3_active and d4_loop === idx.d4 %}
								{#- d4_name -----------> #} {%- set d4_name = dep4.d4_name | replace('element','<i class="el">element</i>') %}
								{#- d4 html5 ----------> #} {%- set html5 = ' <span class="html5 fab fa-html5">HTML5에서 새롭게 추가</span>' if dep4.html5  %}
								{#-<li class="{%- if d4_active -%} active {%- endif %} {%- if dep4.part %} part_visible {%- endif %}">#}
								<li {%- if d4_active and dep4.part %} class="active part_visible"
										{%- elif d4_active %} class="active"
										{%- elif dep4.part %} class="part_visible"
										{%- endif %}>
									{%- if dep4.part %}
									{%- for part in dep4.part %}
									{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
									{#- part loop index --> #} {%- set part_loop = loop.index %}
									{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
									<p {%- if part_active %} class="active" {%- endif %}>
										<a href="{{ part_link }}">{{ d4_name }} <em>{{ part.part_name }}</em>{{ html5 }}</a>
									</p>
									{%- endfor %}
									{%- else %}
									<a href="{{ d4_link }}">{{ d4_name }}{{ html5 }}</a>
									{%- endif %}
								</li>
								{%- endfor %}
							</ul>
							{%- endif %}
						</li>
						{%- endfor %}
					</ul>
				</div>
				{%- endif %}
			</li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</li>
	{%- endfor %}
</ul>
{%- endmacro %}

{# 2뎁스 메뉴 #}
{%- macro d2_gnb(
	gnb_data,
	pageNumber,
	d1_index = null,
	only_depth2 = false
) %}
{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
{%- if d1_index === null %}
{%- set d1_num = idx.d1-1 %}
{%- else %}
{%- set d1_num = d1_index-1 %}
{%- endif %}
<ul class="depth2">
	{%- set gnb = gnb_data[d1_num] %}
	{%- set gnb_depth2 = gnb_data[d1_num].depth2 %}

	{%- for dep2 in gnb_depth2 %}
	{#- 2뎁스 link --------> #} {%- set d2_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep2.depth3[0].d3_link }}{{ dep2.depth3[0].depth4[0].d4_link }} {%- endset %}
	{#- 2뎁스 loop index --> #} {%- set d2_loop = loop.index %}
	{#- 2뎁스 active ------> #} {%- set d2_active = d2_loop === idx.d2 and d1_num === idx.d1-1 %}
	<li {%- if d2_active %} class="active" {%- endif %}>
		<a href="{{ d2_link }}"><i>{{ dep2.d2_name }}</i></a>
		{%- if dep2.depth3 and only_depth2 === false %}
		<ul class="depth3">
			{%- for dep3 in dep2.depth3 %}
			{#- 3뎁스 link --------> #} {%- set d3_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep3.depth4[0].d4_link }} {%- endset %}
			{#- 3뎁스 loop index --> #} {%- set d3_loop = loop.index %}
			{#- 3뎁스 active ------> #} {%- set d3_active = d2_active and d3_loop === idx.d3 %}
			<li {%- if d3_active %} class="active" {%- endif %}>
				<a href="{{ d3_link }}" {%- if dep4.html5 %} class="html5" {%- endif %}>{{ dep3.d3_name }}</a>
				{%- if dep3.depth4 %}
				<ul class="depth4">
					{%- for dep4 in dep3.depth4 %}
					{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
					{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
					{#- 4뎁스 active ------> #} {%- set d4_active = d3_active and d4_loop === idx.d4 %}
					{#- d4_name ----------> #} {%- set d4_name = dep4.d4_name | replace('element','<i class="el">element</i>') %}
					<li {%- if d4_active and dep4.part %} class="active part_visible"
							{%- elif d4_active %} class="active"
							{%- elif dep4.part %} class="part_visible"
							{%- endif %}>
						{%- if dep4.part %}
						{%- for part in dep4.part %}
						{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
						{#- part loop index --> #} {%- set part_loop = loop.index %}
						{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
						{#- d4 html5 ----------> #} {%- set html5 = ' <span class="html5 fab fa-html5">HTML5에서 새롭게 추가</span>' if dep4.html5  %}
						<p {%- if part_active %} class="active" {%- endif %}>
							<a href="{{ part_link }}">{{ d4_name }} <em>{{ part.part_name }}{{ html5 }}</em></a>
						</p>
						{%- endfor %}
						{%- else %}
						<a href="{{ d4_link }}">{{ d4_name }}{{ html5 }}</a>
						{%- endif %}
					</li>
					{%- endfor %}
				</ul>
				{%- endif %}
			</li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</li>
	{%- endfor %}
</ul>
{%- endmacro %}

{# 3뎁스 이하 메뉴
	# start_depth3(boolean) = 3depth부터 시작하여 하위 모든 메뉴 표시
	# only_depth3(boolean)  = start_depth3 옵션이 true일 경우 하위 메뉴 없이 3depth에 해당하는 링크만 표시
	# start_depth3(boolean) = 4depth부터 시작하여 하위 모든 메뉴 표시
	# start_part(boolean)   = part메뉴만(5depth) 표시
#}
{%- macro d3_below(
	gnb_data,
	pageNumber,
	start_depth3 = false,
	only_depth3 = false,
	start_depth4 = false,
	start_part = false
) %}
{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
{%- set gnb = gnb_data[idx.d1-1] %}
{%- set gnb_depth2 = gnb.depth2 %}
{%- set dep2 = gnb_depth2[idx.d2-1] %}
{%- set gnb_depth3 = dep2.depth3 %}
{%- set dep3 = gnb_depth3[idx.d3-1] %}
{%- set gnb_depth4 = dep3.depth4 %}
{%- set dep4 = gnb_depth4[idx.d4-1] %}

{# start_depth3 #}
{%- if start_depth3 === true %}
<ul class="depth3">
	{%- for dep3 in dep2.depth3 %}
	{#- 3뎁스 link --------> #} {%- set d3_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep3.depth4[0].d4_link }} {%- endset %}
	{#- 3뎁스 loop index --> #} {%- set d3_loop = loop.index %}
	{#- 3뎁스 active ------> #} {%- set d3_active = d3_loop === idx.d3 %}
	<li {%- if d3_active %} class="active" {%- endif %}>
		<a href="{{ d3_link }}" {%- if dep4.html5 %} class="html5" {%- endif %}
			{%- if d3_loop === idx.d3 %} data-tit="{{ idx.d3 }}.{{ idx.d4 }}. {{ dep4.d4_name | replace('<i>','') | replace('</i>','') }}
				{%- if pageNumber.part %} {{ dep4.part[idx.part-1].part_name }} {%- endif %}"
			{%- endif %}>
			{{- dep3.d3_name -}}
		</a>
		{%- if dep3.depth4 and start_depth3 === true and only_depth3 === false %}
		<ul class="depth4">
			{%- for dep4 in dep3.depth4 %}
			{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
			{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
			{#- 4뎁스 active ------> #} {%- set d4_active = d3_active and d4_loop === idx.d4 %}
			{#- d4_name -----------> #} {%- set d4_name = dep4.d4_name | replace('element','<i class="el">element</i>') %}
			{#- d4 html5 ----------> #} {%- set html5 = ' <span class="html5 fab fa-html5">HTML5에서 새롭게 추가</span>' if dep4.html5  %}
			<li {%- if d4_active and dep4.part %} class="active part_visible"
					{%- elif d4_active %} class="active"
					{%- elif dep4.part %} class="part_visible"
					{%- endif %}>
				{%- if dep4.part %}
				{%- for part in dep4.part %}
				{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
				{#- part loop index --> #} {%- set part_loop = loop.index %}
				{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
				<p {%- if part_active %} class="active" {%- endif %}>
					<a href="{{ part_link }}">{{- d4_name }} <em>{{ part.part_name }}</em>{{ html5 }}</a>
				</p>
				{%- endfor %}
				{%- else %}
				<a href="{{ d4_link }}">{{ d4_name }}{{ html5 }}</a>
				{%- endif %}
			</li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</li>
	{%- endfor %}
</ul>
{%- endif -%}

{# start_depth4 #}
{%- if start_depth4 === true %}
<ul class="depth4">
	{%- for dep4 in dep3.depth4 %}
	{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
	{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
	{#- 4뎁스 active ------> #} {%- set d4_active = d4_loop === idx.d4 %}
	{#- d4_name ----------> #} {%- set d4_name = dep4.d4_name | replace('element','<i class="el">element</i>') %}
	<li class="{%- if d4_active -%} active {%- endif %} {%- if dep4.part %} part_visible {%- endif %}">
		{%- if dep4.part %}
		{%- for part in dep4.part %}
		{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
		{#- part loop index --> #} {%- set part_loop = loop.index %}
		{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
		<p class="{%- if part_active -%} active {%- endif %}">
			<a href="{{ part_link }}">{{ d4_name }} <em>{{ part.part_name }}</em></a>
		</p>
		{%- endfor %}
		{%- else %}
		<a href="{{ d4_link }}">{{ d4_name }}</a>
		{%- endif %}
	</li>
	{%- endfor %}
</ul>
{%- endif -%}

{# start_part #}
{%- if start_part === true %}
<ul class="part_depth">
	{%- for part in dep4.part %}
	{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
	{#- part loop index --> #} {%- set part_loop = loop.index %}
	{#- part active ------> #} {%- set part_active = part_loop === idx.part %}
	<li class="{%- if part_active -%} active {%- endif %}">
		{%- set part_nm = dep4.d4_name | replace(' element','') | replace('플렉서블 레이아웃','') | replace('그리드 레이아웃','') %}
		<a href="{{ part_link }}">
			{%- if part_nm | length !== 0 %}<span>{{ part_nm }}</span> {% endif -%}
			{#- -#} <em>{{ part.part_name }}</em>{#- -#}
		</a>
	</li>
	{%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}



{%- macro d3_gnb(
	gnb_data,
	pageNumber,
	only_depth3 = false
	) %}
	{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
	{%- set gnb = gnb_data[idx.d1-1] %}
	{%- set gnb_depth2 = gnb.depth2 %}
	{%- set dep2 = gnb_depth2[idx.d2-1] %}
	<ul class="depth3">
		{%- for dep3 in dep2.depth3 %}
			{#- 3뎁스 link --------> #} {%- set d3_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep3.depth4[0].d4_link }} {%- endset %}
			{#- 3뎁스 loop index --> #} {%- set d3_loop = loop.index %}
			{#- 3뎁스 active ------> #} {%- set d3_active = d3_loop === idx.d3 %}
			<li class="{%- if d3_active -%} active {%- endif %}">
				<a href="{{ d3_link }}">{{ dep3.d3_name }}</a>
				{%- if dep3.depth4 and only_depth3 === false %}
					<ul class="depth4">
						{%- for dep4 in dep3.depth4 %}
							{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
							{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
							{#- 4뎁스 active ------> #} {%- set d4_active = d3_active and d4_loop === idx.d4 %}
							<li class="{%- if d4_active -%} active {%- endif %} {%- if dep4.part %} part_visible {%- endif %}">
								{%- if dep4.part %}
									{%- for part in dep4.part %}
										{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
										{#- part loop index --> #} {%- set part_loop = loop.index %}
										{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
										<p class="{%- if part_active -%} active {%- endif %}">
											<a href="{{ part_link }}">{{ dep4.d4_name }} <em>{{ part.part_name }}</em></a>
										</p>
									{%- endfor %}
								{%- else %}
									<a href="{{ d4_link }}">{{ dep4.d4_name }}</a>
								{%- endif %}
							</li>
						{%- endfor %}
					</ul>
				{%- endif %}
			</li>
		{%- endfor %}
	</ul>
{%- endmacro %}
{%- macro d4_gnb(
	gnb_data,
	pageNumber
	) %}
	{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
	{%- set gnb = gnb_data[idx.d1-1] %}
	{%- set gnb_depth2 = gnb.depth2 %}
	{%- set dep2 = gnb_depth2[idx.d2-1] %}
	{%- set gnb_depth3 = dep2.depth3 %}
	{%- set dep3 = gnb_depth3[idx.d3-1] %}
	<ul class="depth4">
		{%- for dep4 in dep3.depth4 %}
			{#- 4뎁스 link --------> #} {%- set d4_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ dep4.d4_link }} {%- endset %}
			{#- 4뎁스 loop index --> #} {%- set d4_loop = loop.index %}
			{#- 4뎁스 active ------> #} {%- set d4_active = d4_loop === idx.d4 %}
			<li class="{%- if d4_active -%} active {%- endif %} {%- if dep4.part %} part_visible {%- endif %}">
				{%- if dep4.part %}
					{%- for part in dep4.part %}
						{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
						{#- part loop index --> #} {%- set part_loop = loop.index %}
						{#- part active ------> #} {%- set part_active = d4_active and part_loop === idx.part %}
						<p class="{%- if part_active -%} active {%- endif %}">
							<a href="{{ part_link }}">{{ dep4.d4_name }} <em>{{ part.part_name }}</em></a>
						</p>
					{%- endfor %}
				{%- else %}
					<a href="{{ d4_link }}">{{ dep4.d4_name }}</a>
				{%- endif %}
			</li>
		{%- endfor %}
	</ul>
{%- endmacro %}
{%- macro part_gnb(
	gnb_data,
	pageNumber
	) %}
	{%- set idx = { d1: pageNumber.depth1, d2: pageNumber.depth2, d3: pageNumber.depth3, d4: pageNumber.depth4, part: pageNumber.part } %}
	{%- set gnb = gnb_data[idx.d1-1] %}
	{%- set gnb_depth2 = gnb.depth2 %}
	{%- set dep2 = gnb_depth2[idx.d2-1] %}
	{%- set gnb_depth3 = dep2.depth3 %}
	{%- set dep3 = gnb_depth3[idx.d3-1] %}
	{%- set gnb_depth4 = dep3.depth4 %}
	{%- set dep4 = gnb_depth4[idx.d4-1] %}
	<ul class="part_depth">
		{%- for part in dep4.part %}
			{#- part link --------> #} {%- set part_link %} {{- gnb.d1_link }}{{ dep2.d2_link }}{{ dep3.d3_link }}{{ part.part_link }} {%- endset %}
			{#- part loop index --> #} {%- set part_loop = loop.index %}
			{#- part active ------> #} {%- set part_active = part_loop === idx.part %}
			<li class="{%- if part_active -%} active {%- endif %}">
				<a href="{{ part_link }}">{{ dep4.d4_name }} <em>{{ part.part_name }}</em></a>
			</li>
		{%- endfor %}
	</ul>
{%- endmacro %}











{# gnb data start(보류) ============================================================================================== #}

{# /publishing ------------------------------------------------------------------------------------------------------ #}
{% set publishing = {
	d1_name: "Publishing",
	d1_link: "/publishing",
	depth2: [
		html,
		css,
		accessibility
	]
} %}
{# /--/html --------------------------------------------------------------------------------------------------------- #}
{% set html = {

} %}
{# /--/css ---------------------------------------------------------------------------------------------------------- #}
{% set css = {

} %}
{# /--/accessibility ------------------------------------------------------------------------------------------------ #}
{% set accessibility = {

} %}


{# /build_system ---------------------------------------------------------------------------------------------------- #}
{% set build_system = {
	d1_name: "build system",
	d1_link: "/build_system/build_system"
} %}


{# /template -------------------------------------------------------------------------------------------------------- #}
{% set template = {
	d1_name: "Template",
	d1_link: "/template/template"
} %}


{# gnb -------------------------------------------------------------------------------------------------------------- #}
{% set gnb_all = [
	publishing_gnb,
	build_system_gnb,
	template_gnb
] %}
{# gnb data end ===================================================================================================== #}
