


<!-- // form start ------------------------------------------------------------------------------------------------- -->


<!--
	// form 요소 옵션
	id =					[string] 고유 아이디 입력
	class =				[string] .form_box class 지정
	label =				[string] 인풋 제목 입력
	help =				[string] help 텍스트 입력

	size =				[string] default / large
	type = 				[string] text 기본
	placeholder =	[string] placeholder text
	value =				[string] value
	inp_class =		[string] input(or textarea, select) class ( error / disabled / successful )

	required =		[Boolean] 필수 입력 여부
	disabled =		[Boolean]
	readonly =		[Boolean]

	del_action =	[Boolean] 텍스트 삭제 버튼
	ex_button =		[string] 별도의 버튼 생성 (string 값을 설정하면 버튼의 이름으로 설정 됨)
	ex_html = ""
-->
{%- macro text_input(
	id="", class="", label="", help="",
	size="default", type="text", value="", placeholder="", inp_class="",
	required=false, disabled=false, readonly=false,
	del_action=false, ex_button="", ex_body_html="", ex_html=""
) %}
{%- set input_id = id %}
<div class="form_box
	{%- if class %} {{ class }} {%- endif %}
	{%- if del_action %} text_del_action {%- endif %}">
	{%- if label %}
	<div class="form_header {%- if required %} required_inp {%- endif %}">
		<label {%- if input_id %} for="{{ input_id }}" {%- endif %} class="form_label">{{ label }}</label>
		{%- if help %}
		<p class="help_txt">{{ help }}</p>
		{%- endif %}
	</div>
	{%- endif %}
	<div class="form_body inp_{{ size }}">
		<input type="{{ type }}" class="inp_common text_inp {%- if inp_class %} {{ inp_class }} {%- endif -%}"
					 {%- if type==="number" %} inputmode="numeric" pattern="[0-9]*" {%- endif %}
					 {%- if input_id %} id="{{ input_id }}" {%- endif %}
					 {%- if placeholder %} placeholder="{{ placeholder }}" {%- endif %}
					 {%- if value %} value="{{ value }}" {%- endif %}
					 {%- if disabled %} disabled {%- endif %}
					 {%- if readonly %} readonly {%- endif %}
					 {%- if required %} required {%- endif %}>
		{%- if del_action %}
		<button type="button" class="inp_text_del"><i>텍스트 삭제</i></button>
		{%- endif %}
		{%- if ex_body_html %}
		{{ ex_body_html }}
		{%- endif %}
	</div>
	{%- if ex_button %}
	<button type="button" class="btn_small ex_button"><i>{{ ex_button }}</i></button>
	{%- endif %}
	{%- if ex_html %}
	{{ ex_html }}
	{%- endif %}
</div>
{%- endmacro %}


{%- macro textarea(
	id="", class="", label="", help="",
	placeholder="", inp_class="", value="",
	disabled=false, required=false, readonly=false,
	del_action=false
) %}
{%- set textarea_id = id %}
<div class="form_box
	{%- if class %} {{ class }} {%- endif %}
	{%- if del_action %} text_del_action {%- endif %}">
	{%- if label %}
	<div class="form_header {%- if required %} required_inp {%- endif %}">
		<label {%- if textarea_id %} for="{{ textarea_id }}" {%- endif %} class="form_label">{{ label }}</label>
		{%- if help %}
		<p class="help_txt">{{ help }}</p>
		{%- endif %}
	</div>
	{%- endif %}
	<div class="form_body text_body">
		<textarea class="inp_common {%- if inp_class %} {{ inp_class }} {%- endif -%}"
							{%- if textarea_id %} id="{{ textarea_id }}" {%- endif %}
							{%- if placeholder %} placeholder="{{ placeholder }}" {%- endif %}
							{%- if value %} value="{{ value }}" {%- endif %}
							{%- if disabled %} disabled {%- endif %}
							{%- if readonly %} readonly {%- endif %}
							{%- if required %} required {%- endif %}></textarea>
		{%- if del_action %}
		<button type="button" class="inp_text_del"><i>텍스트 삭제</i></button>
		{%- endif %}
	</div>
</div>
{%- endmacro %}


{%- macro select(
	id="", class="", label="", help="",
	inp_class="",	option="",
	disabled=false, required=false, readonly=false
) %}
{%- set select_id = id %}
<div class="form_box {%- if class %} {{ class }} {%- endif %}">
	{%- if label %}
	<div class="form_header {%- if required %} required_inp {%- endif %}">
		<label {%- if select_id %} for="{{ select_id }}" {%- endif %} class="form_label">{{ label }}</label>
		{%- if help %}
		<p class="help_txt">{{ help }}</p>
		{%- endif %}
	</div>
	{%- endif %}
	<div class="form_body select_body">
		<select class="inp_common {%- if inp_class %} {{ inp_class }} {%- endif %}"
						{%- if select_id %} id="{{ select_id }}" {%- endif %}
						{%- if disabled %} disabled {%- endif %}
						{%- if readonly %} readonly {%- endif %}
						{%- if required %} required {%- endif %}>
		{%- for option_item in option %}
			{% if loop.index === 1 -%}
			<option value="" selected>{{ option_item }}</option>
			{%- else -%}
			<option value="{{ option_item }}">{{ option_item }}</option>
			{%- endif %}
		{%- endfor %}
		</select>
	</div>
</div>
{%- endmacro %}


{%- macro radio_input(
	class="",
	label="", help="", name="", item="", checked="",
	disabled=false, required=false
) %}
<div class="form_box {%- if class %} {{ class }} {%- endif %}">
	{%- if label %}
	<div class="form_header {%- if required %} required_inp {%- endif %}">
		<p class="form_label">{{ label }}</p>
		{%- if help %}
		<p class="help_txt">{{ help }}</p>
		{%- endif %}
	</div>
	{%- endif %}
	<div class="form_body">
	{%- for radio_item in item %}
		<label class="radio_label">
			<input type="radio" name="{{ name }}"
						 {%- if disabled %} disabled {%- endif %}
						 {%- if required %} required {%- endif %}
						 {%- if checked===loop.index %} checked {%- endif %}>
			<i>{{ radio_item }}</i>
		</label>
	{%- endfor %}
	</div>
</div>
{%- endmacro %}


