{% set pageNumber = { depth1: 1, depth2: 2, depth3: 3, depth4: 5 } %}
{% set pageData = {
	title: "IR 기법",
	description: "IR 기법 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_ir",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
