{% set pageNumber = { depth1: 1, depth2: 2, depth3: 3, depth4: 9, part: 2 } %}
{% set pageData = {
	title: "@media part-2",
	description: "@media part-2 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_media_part2",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
