<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<ul>
		<li>CSS의 기초와 CSS level 3의 선택자를 공부한 이후 좀 더 체계적이고 효과적인 CSS 활용과 여러 환경의 device에 대응하는 방법을 알아가는 과정입니다.</li>
	</ul>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->