{% set pageNumber = { depth1: 1, depth2: 1, depth3: 4, depth4: 4 } %}
{% set pageData = {
	title: "ul element",
	description: "ul element 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "ul_element",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content %}
	<section class="mt_xxl">
		<h2 class="sound_only">{{ pageData.title }} 설명</h2>
		<p>순서가 없는 목록(숫자 순서를 가지고 있지 않은)을 나타냅니다. 일반적으로, 순서가 없는 목록은 굵은 점과 함께 표시됩니다.</p>
	</section>

	<section class="view_editor edit_code mt_xxl" data-target="html/04-grouping/4.4.ul_element/4.4.ul_element.html">
		<h2 class="ve_tit">기본 리스트 / 중첩 리스트 예제</h2>
		<div class="uk_editor indent min_height_550" data-result="true" data-mode="htmlmixed" data-theme="moxer" data-browser="default">
			<div class="code_wrap"><textarea></textarea></div>
		</div>
	</section>

	<aside class="browser_support mt_xxl" data-tit="ul">
		<ul>
			<li class="ie">지원</li>
			<li class="edge">지원</li>
			<li class="chrome">지원</li>
			<li class="firefox">1.0</li>
			<li class="opera">지원</li>
			<li class="safari">지원</li>
		</ul>
	</aside>
{%- endblock %}