<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<ul>
		<li>ins와 del요소(element)들은 문서에 대한 편집을 나타냅니다.</li>
	</ul>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->