{% set pageNumber = { depth1: 2, depth2: 1, depth3: 1, depth4: 1 } %}
{% set pageData = {
	title: "걸프(Gulp)란?",
	description: "걸프(Gulp)란? 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "gulp-start",
	type: "build_system",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}
