{% set pageNumber = { depth1: 2, depth2: 1, depth3: 1, depth4: 2 } %}
{% set pageData = {
	title: "Gulp 설치 및 SCSS 컴파일러 설치",
	description: "Gulp 설치 및 SCSS 컴파일러 설치 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "gulp_scss",
	type: "build_system",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}
