{% set pageNumber = { depth1: 2, depth2: 1, depth3: 1, depth4: 3 } %}
{% set pageData = {
	title: "HTML과 웹서버",
	description: "HTML과 웹서버 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "html_webserver",
	type: "build_system",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}
