{% set pageNumber = { depth1: 2, depth2: 1, depth3: 1, depth4: 6 } %}
{% set pageData = {
	title: "속도 개선과 파일 및 오류 관리",
	description: "속도 개선과 파일 및 오류 관리 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "file_management",
	type: "build_system",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}
