{% set pageNumber = { depth1: 1, depth2: 3, depth3: 9, depth4: 1 } %}
{% set pageData = {
	title: "인식의 용이성(Perceivable)",
	description: "인식의 용이성(Perceivable) 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "waWcag_perceivable",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
