{% set pageNumber = { depth1: 1, depth2: 3, depth3: 9, depth4: 2 } %}
{% set pageData = {
	title: "운용의 용이성(Operable)",
	description: "운용의 용이성(Operable) 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "waWcag_operable",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
