{% set pageNumber = { depth1: 1, depth2: 3, depth3: 9, depth4: 3 } %}
{% set pageData = {
	title: "이해의 용이성(Understandable)",
	description: "이해의 용이성(Understandable) 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "waWcag_understandable",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
