{% set pageNumber = { depth1: 1, depth2: 3, depth3: 9, depth4: 4 } %}
{% set pageData = {
	title: "견고성(Robust)",
	description: "견고성(Robust) 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "waWcag_robust",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
