{% set pageNumber = { depth1: 1, depth2: 3, depth3: 9, depth4: 4 } %}
{% set pageData = {
	title: "견고성(Robust)",
	description: "WCAG (Web Content Accessibility Guidelines)에서 제공하는 견고성(Robust) 정보를 다루는 섹션입니다. ",
	keyword: "wcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 견고성(Robust)",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "waWcag_robust",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
