{% set pageNumber = { depth1: 1, depth2: 1, depth3: 11 } %}
{% set pageData = {
	title: "콘텐츠 모델(Content models)",
	description: "콘텐츠 모델(Content models) 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "content_model",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	{{ super() }}
	<footer class="reference_box">
		<strong class="tit">{{ title_d3 }} 참조</strong>
		<ul class="link_lst">
			<li class="reference"><a href="00000000" target="_blank" class="fas">00000000</a></li>
		</ul>
	</footer>
{%- endblock %}