{% set pageNumber = { depth1: 1, depth2: 2, depth3: 2, depth4: 3 } %}
{% set pageData = {
	title: "Color 속성",
	description: "Color 속성 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "css_color",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
