<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<ul>
		<li>HTML 학습과정이 마무리되었으면 디자인하기 위해 꼭 필요한 기본적인 CSS를 배우는 단계입니다.</li>
	</ul>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->