{% set pageNumber = { depth1: 1, depth2: 3, depth3: 12 } %}
{% set pageData = {
	title: "참조 사이트",
	description: "참조 사이트 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "wa_bookmark",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: false,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
