<footer class="uk_footer">
	<div class="ft_nav inner">
		<nav class="depth1_nemu">
			{{ gnb_comp.all_gnb(
				gnb_data,
				pageNumber,
				only_depth1 = true
			) | tabIndent(3) }}
		</nav>
		<nav class="depth2_nemu">
			{{ gnb_comp.d2_gnb(
				gnb_data,
				pageNumber,
				d1_index = 1,
				only_depth2 = true
			) | tabIndent(3) }}
		</nav>
	</div>
	<div class="btm">
		<strong class="uk_logo"><a href="/" class="uk_link">uxkm</a></strong>
		<p class="copy">&copy; 2019 All Right Reserved. By UXKM.</p>
	</div>
</footer>