<head>
	<meta charset="UTF-8">
	{#-<script type="text/javascript">
    WebFontConfig = {
      custom: {
        families: ['Noto Sans KR', 'Open Sans', 'Anton', 'Cinzel Decorative', 'Jura'],
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
	</script>#}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Jura:wght@400;500;700&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	{#-<link href="{{ path.css }}/font.min.css" rel="stylesheet">#}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no, address=no">
	<meta name="apple-mobile-web-app-capable" content=" yes">
	<meta name="robots" content="index,follow">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">

	{% if pageData.mainPage === true -%}
	<title>UXKM</title>
	{%- else -%}
	<title>{{ pageData.title }} | UXKM</title>
	{%- endif %}

	<!-- opengraph -->
	<meta name="title" content="UXKM">
	<meta name="description" content="{{ pageData.description }}">
	<meta name="author" content="UXKM">
	{%- if pageData.keyword %}
	<meta name=”keywords” content="{{ pageData.keyword }}" />
	{%- endif %}
	<meta property="og:type" content="website">
	<meta property="og:title" content="UXKM">
	<meta property="og:site_name" content="UXKM">
	<meta property="og:url" content="https://uxkm.io">
	<meta property="og:description" content="{{ pageData.description }}">
	<meta property="og:image" content="{{ path.img }}/og_image.png">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="750">

	<!-- icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ path.img_favicon }}/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ path.img_favicon }}/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ path.img_favicon }}/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ path.img_favicon }}/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ path.img_favicon }}/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ path.img_favicon }}/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ path.img_favicon }}/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ path.img_favicon }}/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ path.img_favicon }}/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ path.img_favicon }}/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ path.img_favicon }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ path.img_favicon }}/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ path.img_favicon }}/favicon-16x16.png">
	<link rel="shortcut icon" type="image/x-icon" href="{{ path.img_favicon }}/favicon/favicon.ico">
	<link rel="manifest" href="{{ path.img_favicon }}/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ path.img_favicon }}/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- css -->
	<link href="{{ path.lib }}/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" /><!-- 코드미러 스크롤바 -->
	<link href="{{ path.lib }}/codemirror/lib/codemirror.css" rel="stylesheet" /><!-- 코드미러 기본 -->
	<link href="{{ path.css }}/ayu-mirage.css" rel="stylesheet" /><!-- 코드미러 테마 -->
	<link href="{{ path.lib }}/highlight.min.css" rel="stylesheet" />
	<link href="{{ path.lib }}/github-gist.css" rel="stylesheet" />
	<link href="{{ path.css }}/uk_common.min.css" rel="stylesheet" />
	{% if pageData.mainPage === true -%}
	<link href="{{ path.css }}/uk_main.min.css" rel="stylesheet" />
	{%- else -%}
	<link href="{{ path.css }}/uk_sub.min.css" rel="stylesheet" />
	{%- endif %}
	{%- block css %}
	{%- endblock %}
	{#- {{ creation_date | date("YYYYMMDD_HHMMSS") }} #}

	<!-- js -->
	<script type="text/javascript" src="{{ path.lib }}/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="{{ path.js }}/uk_dom_before.js"></script> <!-- dom 이 그려질때 바로 실행되야 하는 스크립트 -->
	<script type="text/javascript" src="{{ path.lib }}/ukDetect-1.0.0.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="{{ path.lib }}/html5.js"></script>
	<script type="text/javascript" src="{{ path.lib }}/respond.min.js"></script>
	<![endif]-->
</head>