{%- set classDiv = 'main' if pageData.mainPage else 'sub' -%}
{%- import path.macro + "/_gnb.njk" as gnb_nemu %}
<header class="uk_header {{classDiv}}_header" role="banner">
	<div class="inner">
		<strong class="hd_logo uk_logo beta"><a href="/" class="uk_link" data-tit="{{ title_d1 }}" data-version="v1.0">UXKM</a></strong>

		<div class="hd_nav_area">
			<nav class="hd_nav">
				<strong class="sound_only">global menu</strong>
				{{ gnb_nemu.all_gnb(
					gnb_data,
					pageNumber,
					only_depth1 = true
				) | tabIndent(4) }}
			</nav>
			<!-- // global menu  -->

			{# -#}
			<div class="hd_search">
				<button type="button" class="ly_btn {{classDiv}}_ly_btn search_btn" data-modal-button="search_modal"><i>Search</i></button>
				<div class="hd_layer_box search_area" data-modal-layer="search_modal">
					<div class="inner">
						<div class="tit">
							<strong class="tit_txt"><i>UXKM</i> Search</strong>
						</div>
						<div class="form">
							<label for="uxkm_search">UXKM 검색</label>
							<input type="text" id="uxkm_search" placeholder="검색어를 입력해 주세요." required />
							<button type="button" class="sch_bt search_submit"><i>검색하기</i></button>
						</div>
						<dl class="keyword_ex">
							<dt>keyword example</dt>
							<dd>div, p, strong, width, border-color, click, function</dd>
						</dl>
					</div>
				</div>
				<button type="button" class="search_close">검색 닫기</button>
			</div>
			<!-- // 검색 -->

			<div class="hd_sitemap">
				<button type="button" class="ly_btn {{classDiv}}_ly_btn sitemap_btn" data-modal-button="sitemap_modal"><i>Site map</i></button>
				<div class="hd_layer_box sitemap_area" data-modal-layer="sitemap_modal">
					<div class="inner">
						<div class="tit">
							<strong class="tit_txt"><i>UXKM</i> Site map</strong>
							<div class="map_type">
								<button type="button" data-txt="type_tab" class="active"><i>Tab view</i></button>
								<button type="button" data-txt="type_all"><i>All view</i></button>
							</div>
						</div>
						<nav class="sitemap_in type_tab {{classDiv}}_sitemap" data-type="type_tab">
							{{ gnb_nemu.all_gnb(
								gnb_data,
								pageNumber,
								only_depth1 = false
							) | tabIndent(7) }}
						</nav>
					</div>
				</div>
			</div>
			<!-- // 사이트맵 -->
		</div>
	</div>
</header>