<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Anton|Cinzel+Decorative:400,700,900|Jura:300,400,500,600,700|Noto+Sans+KR:100,300,400,500,700,900|Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,korean,latin-ext,vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no, email=no, address=no">
	<meta name="apple-mobile-web-app-capable" content=" yes">
	<meta name="robots" content="index,follow">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">

	{% if pageData.mainPage === true -%}
	<title>UXKM</title>
	{%- else -%}
	<title>{{ pageData.title }} | UXKM</title>
	{%- endif %}

	<!-- opengraph -->
	<meta name="title" content="UXKM">
	<meta name="description" content="{{ pageData.description }}">
	<meta name="author" content="UXKM">
	{%- if pageData.keyword %}
	<meta name=”keywords” content="{{ pageData.keyword }}" />
	{%- endif %}
	<meta property="og:type" content="website">
	<meta property="og:title" content="UXKM">
	<meta property="og:site_name" content="UXKM">
	<meta property="og:url" content="https://uxkm.io">
	<meta property="og:description" content="{{ pageData.description }}">
	<meta property="og:image" content="{{ path.img }}/og_image.png">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="750">

	<!-- icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ path.img_favicon }}/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ path.img_favicon }}/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ path.img_favicon }}/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ path.img_favicon }}/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ path.img_favicon }}/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ path.img_favicon }}/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ path.img_favicon }}/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ path.img_favicon }}/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ path.img_favicon }}/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ path.img_favicon }}/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ path.img_favicon }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ path.img_favicon }}/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ path.img_favicon }}/favicon-16x16.png">
	<link rel="shortcut icon" type="image/x-icon" href="{{ path.img_favicon }}/favicon/favicon.ico">
	<link rel="manifest" href="{{ path.img_favicon }}/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ path.img_favicon }}/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- css -->
	<link href="{{ path.lib }}/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" /><!-- 코드미러 스크롤바 -->
	<link href="{{ path.lib }}/codemirror/lib/codemirror.css" rel="stylesheet" /><!-- 코드미러 기본 -->
	<link href="{{ path.css }}/ayu-mirage.css" rel="stylesheet" /><!-- 코드미러 테마 -->
	<link href="{{ path.lib }}/highlight.min.css" rel="stylesheet" />
	<link href="{{ path.lib }}/github-gist.css" rel="stylesheet" />
	<link href="{{ path.css }}/uk_common.css" rel="stylesheet" />
	{% if pageData.mainPage === true -%}
	<link href="{{ path.css }}/uk_main.css" rel="stylesheet" />
	{%- else -%}
	<link href="{{ path.css }}/uk_sub.css" rel="stylesheet" />
	{%- endif %}
	{%- block css %}
	{%- endblock %}

	<!-- js -->
	<script type="text/javascript" src="{{ path.lib }}/jquery-3.4.1.min.js"></script>
	<script>
		// [ dom 이 그려질때 바로 실행되야 하는 스크립트 ] -----------------------------------------------------------------

		// 새로고침 시 sessionStorage 에 저장한 document height 값 적용(window.load 후 삭제)
    if( window.performance.navigation.type === 1 ) {
      $('html').css('height', sessionStorage.getItem('html_height'));
    }

    // 새로고침 시 기존 scroll top 유지
    if( window.performance.navigation.type === 1 ){
      $(window).on('scroll', function(){
        let loading_sct = $(window).scrollTop();
        sessionStorage.setItem('loading_scroll_top', loading_sct);
      });
      $('html, body').animate({'scrollTop':sessionStorage.getItem('loading_scroll_top')}, 0);
		}

		setTimeout(function(){
			let sct = $(window).scrollTop();

			// uk_header progress
			let docHeight = $(document).height() - window.innerHeight;
			let hd_proW = (sct/docHeight)*100;
			$('.hd_progress').css('width', hd_proW+'%');

			// top_link 상단 고정(scroll top 값이 top_link 의 offset().top 보다 클 경우)
			let top_link_offset = $('.top_link').find('ul').offset().top - 1;
			sct > top_link_offset - $('.uk_header').height() ?  $('.top_link').addClass('fixed') : $('.top_link').removeClass('fixed');

			// side menu 타이틀 노출( side_close일 경우 )
			let sub_top_offset = $('.sub_content').offset().top + Number($('.sub_content').css('padding-top').replace('px','')) + $('#content_title').height()/2;
			sub_top_offset -= $('.uk_header').height();
			sct > sub_top_offset ? $('.side_menu_area').addClass('title_show') : $('.side_menu_area').removeClass('title_show') ;

      // uk_gist_code_box 적용 전 세로값 유지
      $('.uk_gist_code_box').each(function(i, e){
        const _txtarea = $(e).find('textarea');
        const str = _txtarea.val();
        const line = str.split('\n');
        const lineLength = line.length - 1;
        const line_height = Number(_txtarea.css('line-height').replace('px',''));
        _txtarea.css({'box-sizing':'content-box', 'height':line_height*lineLength});

        //모든 문장의 앞에 있는 불필요한 tab 공백 추츨
        const line_tab_split = line[0].trim().split('')[0];
        const line_tab_size = line[0].split(line_tab_split)[0];
        let str_content = '';

        for( i=0; i<lineLength; i++ ){
          //모든 문장의 앞에 있는 불필요한 tab 공백 제거
          if( line[i].match(line_tab_size) ){
            line[i] = line[i].replace(line_tab_size, '');
            console.log( line[i] );
            str_content += line[i] + '\n';
          }
				}
        _txtarea.val(str_content);
      });
		});


	</script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="{{ path.lib }}/html5.js"></script>
	<script type="text/javascript" src="{{ path.lib }}/respond.min.js"></script>
	<![endif]-->
</head>