{% set pageNumber = { depth1: 1, depth2: 1, depth3: 10, depth4: 3 } %}
{% set pageData = {
	title: "프레임셋 문서 구조",
	description: "프레임셋 문서 구조 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "frameset_document",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}