{% set pageNumber = { depth1: 1, depth2: 1, depth3: 2, depth4: 4 } %}
{% set pageData = {
	title: "대표적인 인라인 요소 - span",
	description: "대표적인 인라인 요소 - span 입니다.",
	keyword: "",
	last_update: "2019-12-26"
} %}
{% set pageLayout = {
	mainClass: "html_start",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content %}
{%- endblock %}#}