{% set pageNumber = { depth1: 1, depth2: 1, depth3: 2, depth4: 5 } %}
{% set pageData = {
	title: "요소 중첩",
	description: "요소 중첩 입니다.",
	keyword: "",
	last_update: "2019-12-26"
} %}
{% set pageLayout = {
	mainClass: "html_start",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content %}

{%- endblock %}