{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 1 } %}
{% set pageData = {
	title: "입력장치 접근성",
	description: "입력장치 접근성 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "input_devices",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 6.1.1. 키보드 사용 보장 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.1.1. 키보드 사용 보장</h2>
		<h3 class="mt_ms t_blue">
			모든 기능은 키보드만으로도 사용할 수 있어야 합니다.
		</h3>
		{#-
		<p class="mt_s">
			0000000000000
		</p>
		#}
	</section>

	<!-- 6.1.2. 초점 이동 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.1.2. 초점 이동</h2>
		<h3 class="mt_ms t_blue">
			키보드에 의한 초점은 논리적으로 이동해야 하며 시각적으로 구별할 수 있어야 합니다.
		</h3>
		<p class="mt_s">
			키보드 조작을 통해 버튼이 초점을 받았을 때 이 버튼의 주위에 점선의 테두리가 표시되도록 하여 사용자 입력 등이
			조작을 통해 초점을 받았을 때, 해당 컨트롤이 초점을 받았음을 시각적으로 구별할 수 있어야 합니다.
		</p>
	</section>

	<!-- 6.1.3. 조작 가능 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.1.3. 조작 가능</h2>
		<h3 class="mt_ms t_blue">
			사용자 입력 및 컨트롤은 조작 가능하도록 제공되어야 합니다.
		</h3>
		<p class="mt_s">
			모든 이웃한 컨트롤은 개별적으로 선택하고 사용할 수 있도록 충분한 크기로 제공해야 합니다.
		</p>
	</section>
{%- endblock %}
