{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 1 } %}
{% set pageData = {
	title: "입력장치 접근성",
	description: "입력장치 접근성 입니다.",
	keyword: "",
	last_update: "0000-00-00"
} %}
{% set pageLayout = {
	mainClass: "input_devices",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
