{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 2 } %}
{% set pageData = {
	title: "충분한 시간 제공",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 운용의 용이성(Operable) 중 충분한 시간 제공 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 운용의 용이성, 충분한 시간 제공",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "enough_time",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 6.2.1. 응답시간 조절 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.2.1. 응답시간 조절</h2>
		<h3 class="mt_ms t_blue">
			시간제한이 있는 콘텐츠는 응답시간을 조절할 수 있어야 합니다.
		</h3>
		<p class="mt_s">
			시간제한이 있는 콘텐츠는 가급적 포함하지 않는 것이 바람직합니다.<br>
			보안 등의 사유로 시간제한이 반드시 필요할 경우에는 반응 시간이 완료되기 전에 사용자가 시간제한을 해제 또는
			연장할 수 있는 수단을 제공해야 합니다.
			반응 시간 조절 기능은 최소 20초 전에 알려 주어야 합니다.<br>
			단, 온라인 경매, 실시간 게임 등과 같이 반응 시 간의 조절이 원천적으로 허용되지 않는 경우에는 이 검사 항목이 적용되지 않습니다.<br>
			다만, 이 경우에도 사용자에게 시간제한이 있다는 것을 미리 알려주고, 종료되었을 경우에도 이를 알려주어야 합니다.
		</p>
	</section>

	<!-- 6.2.2. 정지 기능 제공 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.2.2. 정지 기능 제공</h2>
		<h3 class="mt_ms t_blue">
			자동으로 변경되는 콘텐츠는 움직임을 제어할 수 있어야 합니다.
		</h3>
		<p class="mt_s">
			저시력 장애인이나 지적 장애인 등은 이동하거나 스크롤 되는 콘텐츠를 사용하기 어려우므로,
			웹 콘텐츠는 사용자가 이동이나 스크롤을 일시 정지시키고,
			지나간 콘텐츠 또는 앞으로 나타날 콘텐츠를 선택할 수 있는 컨트롤 (예 : ‘앞으로 이동', ‘뒤로 이동’, ‘정지’ 등)을 제공해야 합니다.
		</p>
	</section>
{%- endblock %}
