{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 2 } %}
{% set pageData = {
	title: "충분한 시간 제공",
	description: "충분한 시간 제공 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "enough_time",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
