{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 3 } %}
{% set pageData = {
	title: "광과민성 발작 예방",
	description: "KWCAG (Korean Web Content Accessibility Guidelines) 원칙 운용의 용이성(Operable) 중 광과민성 발작 예방 지침 정보를 다루는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, 한국형 웹 콘텐츠 지침, 운용의 용이성, 광과민성 발작 예방",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "seizures",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 6.3.1. 깜빡임과 번쩍임 사용 제한 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.3.1. 깜빡임과 번쩍임 사용 제한</h2>
		<h3 class="mt_ms t_blue">
			초당 3~50 회 주기로 깜빡이거나 번쩍이는 콘텐츠를 제공하지 않아야 합니다.
		</h3>
		<p class="mt_s">
			깜빡이거나(flashing) 번쩍이는(blinking) 콘텐츠로 인해 발작을 일으키지 않도록 빠르게 깜빡이거나 번쩍이는 콘텐츠를
			초당 3∼50 회 주기로 제공하지 않아야 합니다.
			특히, 10 인치 이상의 기기에서는 콘텐츠에 의한 광과민성 발작 가능성을 주의해야 하므로 화면에 표시된 번쩍이는 콘텐츠가
			차지하는 면적의 합이 화면 전체 면적의 10%를 넘지 않아야 합니다.<br>
			콘텐츠의 번쩍이는 시간을 3초 미만으로 제한하면 지속적인 번쩍임으로 인한 사용자의 발작을 예방하면서도 콘텐츠의 중요성을 알릴 수 있습니다.
		</p>
	</section>
{%- endblock %}
