{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 4 } %}
{% set pageData = {
	title: "쉬운 내비게이션",
	description: "쉬운 내비게이션 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "easy_navigation",
	type: "publishing",
	Info: true,
	note: true,
	sideMenu: true,
	reference: false,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	<!-- 6.4.1. 반복 영역 건너뛰기 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.4.1. 반복 영역 건너뛰기</h2>
		<h3 class="mt_ms t_blue">
			콘텐츠의 반복되는 영역은 건너뛸 수 있어야 합니다.
		</h3>
		<p class="mt_s">
			페이지가 로드되거나 갱신될 때마다 모든 웹페이지에 공통적으로 들어있는 메뉴 등을 다시 도달하게 되는 키보드 사용자와
			화면 낭독 프로그램 사용자가 겪게 되는 불편을 방지하기 위해,
			사용자가 메뉴 등과 같은 반복 영역을 바로 건너뛰어 핵심 영역으로 직접 이동할 수 있는 수단을 제공해야 합니다.
		</p>
	</section>

	<!-- 6.4.2. 제목 제공 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.4.2. 제목 제공</h2>
		<h3 class="mt_ms t_blue">
			페이지, 프레임, 콘텐츠 블록에는 적절한 제목을 제공해야 합니다.
		</h3>
		<p class="mt_s">
			페이지, 프레임, 콘텐츠 블록의 제목은 간단명료해야 하며, 해당 페이지, 프레임, 콘텐츠 블록을 유추할 수 있도록 제공해야 합니다.
		</p>
	</section>

	<!-- 6.4.3. 적절한 링크 텍스트 -->
	<section class="indent mt_xxl">
		<h2 class="ml_mn">6.4.3. 적절한 링크 텍스트</h2>
		<h3 class="mt_ms t_blue">
			링크 텍스트는 용도나 목적을 이해할 수 있도록 제공해야 합니다.
		</h3>
		<p class="mt_s">
			링크는 주변 맥락을 통하여 용도나 목적지를 명확하게 이해할 수 있는 링크 텍스트를 제공해야 합니다.<br>
			이미지 링크를 제공하는 경우에는 URL에 관한 정보를 제공하는 텍스트와 URL로 이동하는 이미지 링크는 하나의 링크로 구성하는 것이 바람직하다.
			이 경우, 이미지 링크의 대체 텍스트는 공백 문자로 제공해야 합니다.
		</p>
	</section>
{%- endblock %}
