{% set pageNumber = { depth1: 1, depth2: 3, depth3: 6, depth4: 4 } %}
{% set pageData = {
	title: "쉬운 내비게이션",
	description: "쉬운 내비게이션 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "easy_navigation",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{#{% block content -%}
{%- endblock %}#}
