<blockquote class="uk_note" role="note">
	<strong class="sound_only">{{ title_d3 }} 요약 설명</strong>
	<div>
		<p>
			운용의 용이성은
			<b>입력장치 접근성</b>, <b>충분한 시간 제공</b>, <b>광과민성 발작 예방</b>, <b>쉬운 내비게이션</b> 등 4 가지 지침으로 구성, 9개의 검사 항목이 있습니다.
		</p>
	</div>
</blockquote>
<!-- // {{ title_d3 }} 요약 설명 -->