{% set pageNumber = { depth1: 1, depth2: 3, depth3: 11 } %}
{% set pageData = {
	title: "WAI-ARIA",
	description: "W3C에서 제공하는 접근성 기술 중 WAI-ARIA 정보를 제공하는 섹션입니다. ",
	keyword: "wcag, kwcag, Accessibility, Web accessibility, 접근성, 웹 접근성, WAI-ARIA, aria",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "waAria",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: false
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	{{ super() }}
	{#-
	<footer class="reference_box">
		<strong class="tit">{{ title_d3 }} 참조</strong>
		<ul class="link_lst">
			<li class="reference"><a href="00000000" target="_blank" class="fas">00000000</a></li>
		</ul>
	</footer>
	#}
{%- endblock %}
