{% set pageNumber = { depth1: 1, depth2: 3, depth3: 11 } %}
{% set pageData = {
	title: "WAI-ARIA",
	description: "WAI-ARIA 입니다.",
	keyword: "",
	last_update: creation_date | date("YYYY-MM-DD")
} %}
{% set pageLayout = {
	mainClass: "waAria",
	type: "publishing",
	Info: true,
	note: false,
	sideMenu: true,
	reference: true,
	contentList: true
} %}
{% extends path.layout %}
<!-- data setting end ------------------------------------------------------------------------------------------------->


<!-- content start ---------------------------------------------------------------------------------------------------->
{% block content -%}
	{{ super() }}
	<footer class="reference_box">
		<strong class="tit">{{ title_d3 }} 참조</strong>
		<ul class="link_lst">
			<li class="reference"><a href="00000000" target="_blank" class="fas">00000000</a></li>
		</ul>
	</footer>
{%- endblock %}
